.profile-section {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align to the right */
    gap: 1rem;
    flex-wrap: wrap;
    text-align: left; /* Optional: keep text left-aligned */
    margin-bottom: 20px;
  }

  .profile-container{
    margin-bottom: 60px;
  }
  
  .profile-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .contact-info p {
    margin: 0.5rem 0;
  }
  
  /* Add this to your CSS file or inside the style tags in your component */

.skills-container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.skill-box {
  padding: 10px 10px;
  background-color: #ffff;
  border-radius: 18px; /* Round corners */
  border: 1px solid #ccc;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h5 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}
